In [1]:
import pandas as pd

In [3]:
covid_df= pd.read_csv('data/district_migration.csv')
covid_df.head()

,lgd_state_id,lgd_district_id,inltmigrantstotal,inltmigrationrate,inltmigrationshare,instmigrantstotal,instmigrationrate,instmigrationshare,outltmigrantstotal,outltmigrationrate,outltmigrationshare,outstmigrantstotal,outstmigrationrate,outstmigrationshare
0,1,1,8185802.0,0.003257,0.000429,10900000.0,0.000427,0.000042,8185802,0.001612,0.000213,10900000,0.010254,0.001018
1,1,2,8185802.0,0.001551,0.000143,10900000.0,0.001404,0.000097,8185802,0.002037,0.000188,10900000,0.001185,0.000082
2,1,3,8185802.0,0.003776,0.000465,10900000.0,0.000195,0.000018,8185802,0.001823,0.000225,10900000,0.002970,0.000276
3,1,4,8185802.0,0.001203,0.000060,10900000.0,0.000942,0.000036,8185802,0.005440,0.000272,10900000,0.007058,0.000266
4,1,5,8185802.0,0.005552,0.001038,10900000.0,0.015447,0.002176,8185802,0.004726,0.000883,10900000,0.001060,0.000149