In [58]:
%matplotlib inline

import matplotlib.pyplot as plt
import geopandas as gpd
import palettable as pltt
import seaborn as sns
from seaborn import palplot
import pandas as pd

In [59]:
# Data file paths
hospitals_dta_path = 'data/Hospital/dlhs4_hospitals_dist_pc11.dta'

# Read dta file in
hospitals_df= pd.read_stata(hospitals_dta_path)
# Display top of table
hospitals_df.head()

,pc11_state_id,pc11_district_id,dlhs4_dh_beds,dlhs4_dh_count,dlhs4_dh_staff,dlhs4_dh_icu_beds,dlhs4_chc_beds,dlhs4_chc_count,dlhs4_chc_staff,dlhs4_chc_beds_ven,dlhs4_phc_beds,dlhs4_phc_count,dlhs4_phc_staff,dlhs4_phc_pop,dlhs4_phc_beds_oxy,pc11_pca_tot_p,dlhs4_phc_mult,dlhs4_total_beds,dlhs4_total_staff,dlhs4_total_facilities
0,02,023,200,1,42,0.0,165,8,86,0.0,68,16,41,157586.0,38.0,519080,3.293947,588.988403,263.051849,61.703159
1,02,024,300,1,53,0.0,262,11,183,30.0,71,19,100,867424.0,60.0,1510075,1.740873,685.601990,410.087311,45.076588
2,02,025,70,1,17,1.0,21,2,26,0.0,33,8,27,24337.0,13.0,31564,1.296955,133.799530,78.017792,13.375642
3,02,026,200,1,68,2.0,105,6,101,0.0,24,5,31,91380.0,12.0,437903,4.792110,420.010651,317.555420,30.960550
4,02,027,300,1,92,3.0,303,10,178,0.0,50,14,65,207184.0,30.0,999777,4.825551,844.277527,583.660828,78.557716

### Data Documentation

***No documentation***

|   Variable Name                   |             Definition                                      |
|-----------------------------------|-------------------------------------------------------------|
|pc11_district_id                   |Unique District ID Census 2011                               |
|pc11_state_id                      |State ID in census 2011                                      |
|dlhs4_dh_beds                      |District hospital beds                                       |
|dlhs4_dh_count                     |Number of district hospitals                                 |
|dlhs4_dh_staff                     |District hospitals staff                                     |
|dlhs4_dh_icu_beds                  |District hospitals Intensive care beds                       | 
|dlhs4_chc_beds                     |Community health centers beds                                |
|dlhs4_chc_count                    |Number of Community health centers                           |
|dlhs4_chc_staff                    |Community health centers staff                               |
|dlhs4_chc_beds_ven                 |Community health centers beds with ventilator                |
|dlhs4_phc_count                    |Number of Public health centers                              |
|dlhs4_phc_staff                    |Public health centers staff                                  |
|dlhs4_phc_pop                      |??????                               |
|dlhs4_phc_beds_oxy                 |Public health centers oxygen beds                            |
|pc11_pca_tot_p                     |Populations as of 2011                                       |
|dlhs4_phc_mult                     |??????                                      |
|dlhs4_total_beds                   |Total beds                                                   |
|dlhs4_total_staff                  |Total staff                                                  |
|dlhs4_total_facilities             |Totall facilities                                            |

In [60]:
# General info
hospitals_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 0 to 551
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   pc11_state_id           552 non-null    object
 1   pc11_district_id        552 non-null    object
 2   dlhs4_dh_beds           552 non-null    int16
 3   dlhs4_dh_count          552 non-null    int8
 4   dlhs4_dh_staff          552 non-null    int16
 5   dlhs4_dh_icu_beds       541 non-null    float64
 6   dlhs4_chc_beds          552 non-null    int16
 7   dlhs4_chc_count         552 non-null    int8
 8   dlhs4_chc_staff         552 non-null    int16
 9   dlhs4_chc_beds_ven      535 non-null    float64
 10  dlhs4_phc_beds          552 non-null    int16
 11  dlhs4_phc_count         552 non-null    int8
 12  dlhs4_phc_staff         552 non-null    int16
 13  dlhs4_phc_pop           542 non-null    float64
 14  dlhs4_phc_beds_oxy      542 non-null    float64
 15  pc11_pca_tot_p          552 non-null    int32
 16  dlhs4_phc_mult          552 non-null    float32
 17  dlhs4_total_beds        552 non-null    float32
 18  dlhs4_total_staff       552 non-null    float32
 19  dlhs4_total_facilities  552 non-null    float32
dtypes: float32(4), float64(4), int16(6), int32(1), int8(3), object(2)
memory usage: 49.1+ KB

In [61]:
hospitals_df=hospitals_df.astype({'dlhs4_dh_beds': 'float64',
                                 'dlhs4_dh_count': 'float64',
                                 'dlhs4_dh_staff': 'float64',
                                 'dlhs4_chc_beds':'float64',
                                 'dlhs4_chc_count':'float64',
                                 'dlhs4_chc_staff':'float64',
                                 'dlhs4_phc_beds':'float64',
                                 'dlhs4_phc_count':'float64',
                                 'dlhs4_phc_staff':'float64',
                                 'pc11_pca_tot_p':'float64',
                                 'dlhs4_phc_mult':'float64',
                                 'dlhs4_total_beds':'float64',
                                 'dlhs4_total_staff':'float64',
                                 'dlhs4_total_facilities':'float64'
                                 })

In [62]:
# General info
hospitals_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 0 to 551
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   pc11_state_id           552 non-null    object
 1   pc11_district_id        552 non-null    object
 2   dlhs4_dh_beds           552 non-null    float64
 3   dlhs4_dh_count          552 non-null    float64
 4   dlhs4_dh_staff          552 non-null    float64
 5   dlhs4_dh_icu_beds       541 non-null    float64
 6   dlhs4_chc_beds          552 non-null    float64
 7   dlhs4_chc_count         552 non-null    float64
 8   dlhs4_chc_staff         552 non-null    float64
 9   dlhs4_chc_beds_ven      535 non-null    float64
 10  dlhs4_phc_beds          552 non-null    float64
 11  dlhs4_phc_count         552 non-null    float64
 12  dlhs4_phc_staff         552 non-null    float64
 13  dlhs4_phc_pop           542 non-null    float64
 14  dlhs4_phc_beds_oxy      542 non-null    float64
 15  pc11_pca_tot_p          552 non-null    float64
 16  dlhs4_phc_mult          552 non-null    float64
 17  dlhs4_total_beds        552 non-null    float64
 18  dlhs4_total_staff       552 non-null    float64
 19  dlhs4_total_facilities  552 non-null    float64
dtypes: float64(18), object(2)
memory usage: 90.6+ KB

In [63]:
# number of NaN values per column
hospitals_df.isnull().sum()

pc11_state_id              0
pc11_district_id           0
dlhs4_dh_beds              0
dlhs4_dh_count             0
dlhs4_dh_staff             0
dlhs4_dh_icu_beds         11
dlhs4_chc_beds             0
dlhs4_chc_count            0
dlhs4_chc_staff            0
dlhs4_chc_beds_ven        17
dlhs4_phc_beds             0
dlhs4_phc_count            0
dlhs4_phc_staff            0
dlhs4_phc_pop             10
dlhs4_phc_beds_oxy        10
pc11_pca_tot_p             0
dlhs4_phc_mult             0
dlhs4_total_beds           0
dlhs4_total_staff          0
dlhs4_total_facilities     0
dtype: int64

In [64]:
hospitals_df.describe()

,dlhs4_dh_beds,dlhs4_dh_count,dlhs4_dh_staff,dlhs4_dh_icu_beds,dlhs4_chc_beds,dlhs4_chc_count,dlhs4_chc_staff,dlhs4_chc_beds_ven,dlhs4_phc_beds,dlhs4_phc_count,dlhs4_phc_staff,dlhs4_phc_pop,dlhs4_phc_beds_oxy,pc11_pca_tot_p,dlhs4_phc_mult,dlhs4_total_beds,dlhs4_total_staff,dlhs4_total_facilities
count,552.000000,552.000000,552.000000,541.000000,552.000000,552.000000,552.000000,535.000000,552.000000,552.000000,552.000000,5.420000e+02,542.000000,5.520000e+02,552.000000,552.000000,552.000000,552.000000
mean,399.173913,2.789855,343.545290,26.042514,211.085145,8.713768,221.128623,6.203738,85.536232,15.215580,146.496377,6.401051e+05,64.175277,1.950634e+06,5.007963,927.654522,1115.031263,68.050684
std,568.074487,2.396164,1333.831039,93.496762,181.208571,6.210578,308.662573,25.357474,63.131834,8.542978,191.175350,6.613900e+05,58.476410,1.528864e+06,9.590714,827.933850,2409.172681,48.042209
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.810000e+03,0.000000,8.004000e+03,0.000000,46.807350,18.000000,1.000000
25%,120.000000,1.000000,61.750000,0.000000,84.750000,4.000000,77.000000,0.000000,39.750000,9.000000,55.000000,2.632780e+05,17.000000,9.558860e+05,2.118562,395.741592,365.764168,32.555521
50%,259.000000,2.000000,119.000000,4.000000,179.000000,8.000000,151.000000,0.000000,69.000000,14.500000,97.500000,4.783845e+05,49.000000,1.641280e+06,3.072459,753.407745,615.950684,59.293962
75%,521.750000,4.000000,255.500000,16.000000,272.250000,12.000000,237.250000,0.000000,122.000000,20.000000,173.250000,7.764222e+05,95.000000,2.642438e+06,5.038369,1224.570160,1073.755646,90.378647
max,10522.000000,16.000000,17642.000000,911.000000,1315.000000,35.000000,2787.000000,292.000000,408.000000,47.000000,2138.000000,4.614076e+06,396.000000,1.106015e+07,175.017868,11334.803711,28652.914062,366.035736

In [65]:
# Dropping columns with total variables, because there no connection to the other variables 
hospitals_df=hospitals_df.drop(['dlhs4_total_beds', 'dlhs4_total_staff', 'dlhs4_total_facilities'], axis=1
                    )
# Display top of table
hospitals_df.head()

,pc11_state_id,pc11_district_id,dlhs4_dh_beds,dlhs4_dh_count,dlhs4_dh_staff,dlhs4_dh_icu_beds,dlhs4_chc_beds,dlhs4_chc_count,dlhs4_chc_staff,dlhs4_chc_beds_ven,dlhs4_phc_beds,dlhs4_phc_count,dlhs4_phc_staff,dlhs4_phc_pop,dlhs4_phc_beds_oxy,pc11_pca_tot_p,dlhs4_phc_mult
0,02,023,200.0,1.0,42.0,0.0,165.0,8.0,86.0,0.0,68.0,16.0,41.0,157586.0,38.0,519080.0,3.293947
1,02,024,300.0,1.0,53.0,0.0,262.0,11.0,183.0,30.0,71.0,19.0,100.0,867424.0,60.0,1510075.0,1.740873
2,02,025,70.0,1.0,17.0,1.0,21.0,2.0,26.0,0.0,33.0,8.0,27.0,24337.0,13.0,31564.0,1.296955
3,02,026,200.0,1.0,68.0,2.0,105.0,6.0,101.0,0.0,24.0,5.0,31.0,91380.0,12.0,437903.0,4.792110
4,02,027,300.0,1.0,92.0,3.0,303.0,10.0,178.0,0.0,50.0,14.0,65.0,207184.0,30.0,999777.0,4.825551

In [66]:
#Creating list with indicators 
indicators=['dlhs4_dh_beds', 'dlhs4_dh_count', 'dlhs4_dh_staff', 'dlhs4_dh_icu_beds', 'dlhs4_dh_icu_beds',
           'dlhs4_chc_beds', 'dlhs4_chc_count', 'dlhs4_chc_staff', 'dlhs4_chc_beds_ven', 'dlhs4_phc_count',
           'dlhs4_phc_staff', 'dlhs4_phc_pop', 'dlhs4_phc_beds_oxy']

### Data by state

In [67]:
#Creating state based dataset 
hospitals_st=hospitals_df
# Display top of table
hospitals_st.head()

,pc11_state_id,pc11_district_id,dlhs4_dh_beds,dlhs4_dh_count,dlhs4_dh_staff,dlhs4_dh_icu_beds,dlhs4_chc_beds,dlhs4_chc_count,dlhs4_chc_staff,dlhs4_chc_beds_ven,dlhs4_phc_beds,dlhs4_phc_count,dlhs4_phc_staff,dlhs4_phc_pop,dlhs4_phc_beds_oxy,pc11_pca_tot_p,dlhs4_phc_mult
0,02,023,200.0,1.0,42.0,0.0,165.0,8.0,86.0,0.0,68.0,16.0,41.0,157586.0,38.0,519080.0,3.293947
1,02,024,300.0,1.0,53.0,0.0,262.0,11.0,183.0,30.0,71.0,19.0,100.0,867424.0,60.0,1510075.0,1.740873
2,02,025,70.0,1.0,17.0,1.0,21.0,2.0,26.0,0.0,33.0,8.0,27.0,24337.0,13.0,31564.0,1.296955
3,02,026,200.0,1.0,68.0,2.0,105.0,6.0,101.0,0.0,24.0,5.0,31.0,91380.0,12.0,437903.0,4.792110
4,02,027,300.0,1.0,92.0,3.0,303.0,10.0,178.0,0.0,50.0,14.0,65.0,207184.0,30.0,999777.0,4.825551

In [68]:
#Grouping by state 
hospitals_st=hospitals_st.groupby(['pc11_state_id']).apply(sum)

# Display top of table
hospitals_st.head()

,pc11_state_id,pc11_district_id,dlhs4_dh_beds,dlhs4_dh_count,dlhs4_dh_staff,dlhs4_dh_icu_beds,dlhs4_chc_beds,dlhs4_chc_count,dlhs4_chc_staff,dlhs4_chc_beds_ven,dlhs4_phc_beds,dlhs4_phc_count,dlhs4_phc_staff,dlhs4_phc_pop,dlhs4_phc_beds_oxy,pc11_pca_tot_p,dlhs4_phc_mult
pc11_state_id,,,,,,,,,,,,,,,,,
02,020202020202020202020202,023024025026027028029030031032033034,2330.0,12.0,738.0,18.0,1905.0,77.0,1212.0,30.0,686.0,149.0,589.0,2519734.0,351.0,6864602.0,37.691905
03,0303030303030303030303030303030303030303,0350360370380390400410420430440450460470480490...,5119.0,58.0,2977.0,250.0,2850.0,120.0,3351.0,252.0,1077.0,162.0,1573.0,6642305.0,895.0,27743338.0,92.852465
04,04,055,550.0,1.0,492.0,20.0,75.0,2.0,65.0,25.0,0.0,0.0,0.0,0.0,0.0,1055450.0,0.000000
05,05050505050505050505050505,056057058059060061062063064065066067068,4360.0,39.0,1887.0,89.0,1391.0,60.0,1323.0,0.0,365.0,84.0,704.0,3739781.0,307.0,10086292.0,62.901037
06,060606060606060606060606060606060606060606,0690700710720730740750760770780790800810820830...,3965.0,42.0,2330.0,83.0,1871.0,106.0,2365.0,0.0,1258.0,244.0,1853.0,11292847.0,1207.0,25351462.0,50.508115

In [69]:
# Dropping columns 
hospitals_st=hospitals_st.drop(['pc11_state_id','pc11_district_id', 'dlhs4_phc_mult'], axis=1)

# Display top of table
hospitals_st.head()

,dlhs4_dh_beds,dlhs4_dh_count,dlhs4_dh_staff,dlhs4_dh_icu_beds,dlhs4_chc_beds,dlhs4_chc_count,dlhs4_chc_staff,dlhs4_chc_beds_ven,dlhs4_phc_beds,dlhs4_phc_count,dlhs4_phc_staff,dlhs4_phc_pop,dlhs4_phc_beds_oxy,pc11_pca_tot_p
pc11_state_id,,,,,,,,,,,,,,
02,2330.0,12.0,738.0,18.0,1905.0,77.0,1212.0,30.0,686.0,149.0,589.0,2519734.0,351.0,6864602.0
03,5119.0,58.0,2977.0,250.0,2850.0,120.0,3351.0,252.0,1077.0,162.0,1573.0,6642305.0,895.0,27743338.0
04,550.0,1.0,492.0,20.0,75.0,2.0,65.0,25.0,0.0,0.0,0.0,0.0,0.0,1055450.0
05,4360.0,39.0,1887.0,89.0,1391.0,60.0,1323.0,0.0,365.0,84.0,704.0,3739781.0,307.0,10086292.0
06,3965.0,42.0,2330.0,83.0,1871.0,106.0,2365.0,0.0,1258.0,244.0,1853.0,11292847.0,1207.0,25351462.0